<!-- core/templates/base.html -->
{% load django_vite %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tienda{% endblock %}</title>

    <!-- Custom CSS -->
    {% comment %} {% compress css %}
      <link rel="stylesheet" href="{% static 'css/output.css' %}">
    {% endcompress %} {% endcomment %}
    {% vite_hmr_client %}
    <link rel="stylesheet" href="{% vite_asset_url 'src/style.css' %}" />
    <!-- Material Icons CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body class="w-full bg-blue-950">
    <!-- Navbar -->
    {% include "base/navbar.html" %}

    <!-- Main content block -->
    <div class="container-full">
        {% block content %}{% endblock %}
    </div>

    {% include "base/footer.html" %}
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        let mensaje_sistema = document.getElementById("mensaje_sistema");
        if(mensaje_sistema){
          setTimeout(() => {
            mensaje_sistema.style.display = 'none';
          }, 5000);
        }
      });
    </script>
</body>
</html>
