<!-- core/templates/base.html -->
{% load django_vite %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tienda{% endblock %}</title>
    <!-- Material Icons CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href={% static "css/output.css" %}>
    {% if DJANGO_VITE_DEV_MODE %}
        <!-- 🚀 Modo Desarrollo: Usar Vite Dev Server -->
        {% vite_hmr_client %}
        <link rel="stylesheet" href="{% vite_asset_url 'src/style.css' %}" />
        {% vite_asset 'src/main.js' %}
    {% else %}
        <!-- 🌍 Modo Producción: Cargar archivos de staticfiles -->
        <link rel="stylesheet" href="{% static 'dist/assets/main-ChRKKzic.css' %}" />
        <script type="module" src="{% static 'dist/assets/main-BUWflNXH.js' %}"></script>
    {% endif %}
</head>
<body>
    <!-- Navbar -->
    {% include "base/navbar.html" %}

    <!-- Main content block -->
    <div class="container-full">
        {% block content %}{% endblock %}
    </div>
    
    <div id="vue-toast">

    </div>

    {% include "base/footer.html" %}


    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Esperar hasta que Vue registre `showToast`
        let checkToast = setInterval(() => {
          if (typeof window.showToast === "function") {
            clearInterval(checkToast);  // Detener el chequeo
            const djangoMessage = "{{ mensaje_sistema|escapejs }}";  // Mensaje de Django
            if (djangoMessage) {
              window.showToast(djangoMessage, "success");
            }else{
              console.log("No hay mensajes del sistema");
            }
          }
        }, 100); // Revisar cada 100ms
      });
    </script>
    
</body>
</html>
