.white{
    background-color: white !important;
}
nav ul a, nav .brand-logo {
    color: #444 !important;
}
.text-white{
    color: white !important;
}
/* Hacer que las tarjetas de los productos tengan el mismo tamaño */
.product-card {
    min-height: 150px;
}

/* Posicionar el precio a la derecha, alineado con el título */
.price-tag {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Posicionar al top-center los mensajes del sistema */
.mensaje-exitoso {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    max-width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }