{% extends "base/base.html" %}
{% block title %}Detalle Factura{% endblock %}
{% block content %}

<div class="container">
    <h2 class="center-align">Detalle de la Factura</h2>
    <div class="row">
        <div class="col s12 m6">
            <h4>Detalles del pago:</h4>
            <ul class="collection">
                <li class="collection-item">Total: <strong>{{ payment_data.total }} {{ payment_data.currency }}</strong></li>
                <li class="collection-item">Estado: <strong>{{ payment_data.payment_status }}</strong></li>
                <li class="collection-item">Fecha: <strong>{{ payment_data.created }}</strong></li>

                <li class="collection-item">Email del cliente: <strong>{{ payment_data.customer_email }}</strong></li>
                <li class="collection-item">ID de Pago (Stripe): <strong>{{ payment_data.payment_intent }}</strong></li>
                {% if payment_data.receipt_url %}
                    <li class="collection-item">Recibo: <a href="{{ payment_data.receipt_url }}" target="_blank">Ver recibo</a></li>
                {% endif %}

            </ul>
        </div>
        <div class="col s12 m6">
            <h4>Detalles del pedido:</h4>
            <ul class="collection">
                <li class="collection
                -item">ID de Pedido: <strong>{{ payment_data.order_id }}</strong></li>
                <li class="collection-item">Productos:</li>
                {% for item in products %}
                <li class="collection-item">
                    {{ item.product }} x {{ item.quantity }} - {{ item.price }} {{ item.currency }}
                    <img src="{{item.url}}" alt="{{item.product}}" width="200px" heigth="200px" />
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="center-align">
        {% if user.is_authenticated %}
        <a href="{% url 'payments:order_list' %}" class="btn waves-effect waves-light">Ver mis pedidos</a>
        {% endif %}
        <a href="/" class="btn-flat">Volver a la tienda</a>
    </div>
{% endblock %}