{% extends "base/base.html" %}
{% load static %}

{% block title %}{{ 'productos' }} - Detalles{% endblock %}

{% block content %}
<div class="container">
    <nav class="breadcrumb-nav red px-2">
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="/" class="breadcrumb">Inicio</a>
                <span class="breadcrumb">productos</span>
            </div>
        </div>
    </nav>
    <div class="row py-5">
        <!-- Imagen del producto -->
        {% for product in products  %}
            <div class="col s12 m6 l4">
                <div class="card hoverable">
                    <div class="card-image">
                        <!-- Preloader -->
                        <div class="preloader-wrapper small active" id="{{ product.preloader_id}}">
                            <div class="spinner-layer spinner-red-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Imagen diferida con lazy loading -->
                        <img data-src="{% static product.imagen %}" alt="{{ product.titulo }}" class="lazy" data-id="{{ forloop.counter }}" style="display:none;">
                        <span class="card-title">{{ product.nombre }}</span>
                        <a href="{{ product.url }}" class="btn-floating halfway-fab waves-effect waves-light red">
                            <i class="material-icons">add</i>
                        </a>
                        <span class="price-tag right red-text">${{ product.precio }}</span>
                    </div>
                    <div class="card-content product-card">
                        <p>{{ product.descripcion }}</p>
                        <div class="card-action">
                            <!-- Botón de añadir al carrito -->
                            <a href="#" class="btn waves-effect waves-light red">
                                <i class="material-icons left">add_shopping_cart</i>Añadir al carrito
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>


</div>
{% endblock %}