<!-- core/templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tienda{% endblock %}</title>

    {% load static %}
    
    <!-- Normalize CSS -->
    {% comment %} <link rel="stylesheet" href="{% static 'css/normalize.css' %}"> {% endcomment %}
    
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/spacing.css' %}">
    <!-- Material Icons CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    <!-- Navbar -->
    {% include "base/navbar.html" %}

    <!-- Main content block -->
    <div class="container-full">
        {% block content %}{% endblock %}
    </div>
    {% include "base/footer.html" %}
    <!-- Materialize JS -->
    <script src="{% static 'materialize/js/materialize.min.js' %}"></script>

    <!-- Initialize Materialize components -->
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        M.AutoInit();  // Inicializa automáticamente todos los componentes de Materialize
      });
    </script>
    <!-- Inicialización del parallax -->
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.parallax');
        var instances = M.Parallax.init(elems);
      });
    </script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    let lazyImages = document.querySelectorAll('.lazy');  // Selecciona todas las imágenes con clase "lazy"

    let lazyLoad = function(entries, observer) {
        entries.forEach(entry => {
          console.log(entry)
            if (!entry.isIntersecting) {
                let img = entry.target;  // La imagen que está entrando en vista
                let preloader = document.getElementById('preloader-' + img.dataset.id);  // Obtener el preloader correspondiente
                
                // Cargar la imagen
                img.src = img.getAttribute('data-src');
                img.style.display = 'block';  // Mostrar la imagen
                img.classList.remove('lazy');  // Remover la clase lazy

                // Ocultar el preloader cuando la imagen esté cargada
                img.onload = () => {
                    preloader.style.display = 'none';  // Ocultar el preloader
                };

                observer.unobserve(img);  // Dejar de observar esta imagen una vez cargada
            }
        });
    };

    let observer = new IntersectionObserver(lazyLoad, {
        rootMargin: '200px 0px',  // Cargar las imágenes cuando están a 100px del viewport
        threshold: 0.1  // Cargar cuando al menos el 10% de la imagen sea visible
    });

    // Observar cada imagen lazy
    lazyImages.forEach(img => {
        observer.observe(img);
    });

});
</script>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        let mensaje_sistema = document.getElementById("mensaje_sistema");
        if(mensaje_sistema){
          setTimeout(() => {
            mensaje_sistema.style.display = 'none';
          }, 5000);
        }
      });
    </script>

</body>
</html>
