<!-- core/templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tienda{% endblock %}</title>

    {% load static %}
    
    <!-- Normalize CSS -->
    {% comment %} <link rel="stylesheet" href="{% static 'css/normalize.css' %}"> {% endcomment %}
    
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Material Icons CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    <!-- Navbar -->
    {% include "base/navbar.html" %}

    <!-- Main content block -->
    <div class="container-full">
        {% block content %}{% endblock %}
    </div>
    {% include "base/footer.html" %}
    <!-- Materialize JS -->
    <script src="{% static 'materialize/js/materialize.min.js' %}"></script>

    <!-- Initialize Materialize components -->
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        M.AutoInit();  // Inicializa automáticamente todos los componentes de Materialize
      });
    </script>
    <!-- Inicialización del parallax -->
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.parallax');
        var instances = M.Parallax.init(elems);
      });
    </script>

</body>
</html>
