    <!-- Footer -->
    <footer class="page-footer teal" id="contacto">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Tienda</h5>
                    <p class="grey-text text-lighten-4">Visítanos para más información sobre nuestros productos.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Enlaces</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#productos">Productos</a></li>
                        <li><a class="grey-text text-lighten-3" href="#contacto">Contacto</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2024 Tienda, Todos los derechos reservados.
            </div>
        </div>
    </footer>