<nav class="white">
    <div class="nav-wrapper container">
        <a href="{% url 'core:home' %}" class="brand-logo">Tienda</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{% url 'product:product_list' %}">Productos</a></li>
            <li><a href="{% url 'cart:cart_detail' %}">Carrito</a></li>
            <li><a href="#contacto">Contacto</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'payments:order_list' %}">📦 Mis Pedidos</a></li>
            {% endif %}
            <li><a href="{% url 'core:stripe' %}">💳 buscar factura</a></li>
            <!-- Desplegable para login/logout y registro -->
            <li>
                <a class="dropdown-trigger valign-wrapper" href="#" data-target="dropdown-user">
                    <!-- Mostrar Foto de Perfil si Existe -->
                    {% if request.session.foto_perfil %}
                        <img src="{{ request.session.foto_perfil }}" alt="{{ request.session.username }}" class="responsive-img circle" style="width: 40px; height: 40px; margin-right: 10px;">
                    {% else %}
                        <!-- Mostrar Ícono si No Hay Foto de Perfil -->
                        <i class="material-icons left" style="font-size: 36px;">account_circle</i>
                    {% endif %}
                    <span>Cuenta</span>
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>

            <li>
                <a class="dropdown-trigger" href="#" data-target="dropdown-languages">
                    <i class="material-icons left">language</i> Idioma
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>

        </ul>
    </div>
</nav>

<!-- Contenido del desplegable -->
<ul id="dropdown-user" class="dropdown-content">
    {% if user.is_authenticated %}
        <li>
            <a href="{% url 'admin:index' %}" class="valign-wrapper">
                {% if request.session.foto_perfil %}
                    <img src="{{ request.session.foto_perfil }}" alt="{{ request.session.username }}" class="responsive-img circle" style="width: 40px; height: 40px; margin-right: 10px;">
                {% else %}
                    <i class="material-icons left" style="font-size: 36px; margin-right: 10px;">person</i>
                {% endif %}
                <span>Mi perfil</span>
            </a>
        </li>
        <li>
            <a href="{% url 'account_logout' %}">
                <i class="material-icons left">exit_to_app</i> Cerrar sesión
            </a>
        </li>
    {% else %}
        <li>
            <a href="{% url 'account_login' %}">
                <i class="material-icons left">login</i> Iniciar sesión
            </a>
        </li>
        <li>
            <a href="{% url 'account_signup' %}">
                <i class="material-icons left">person_add</i> Registrarse
            </a>
        </li>
    {% endif %}
</ul>
<!-- Dropdown de idiomas -->
<ul id="dropdown-languages" class="dropdown-content">
    <li><a href="/es/"><i class="material-icons left">flag</i> Español</a></li>
    <li><a href="/en/"><i class="material-icons left">flag</i> English</a></li>
</ul>